<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>О приложении</title>
  <style>
    body {
      background-color: #e3d7d1;
      font-family: sans-serif;
      color: #322724;
      margin: 0;
      padding: 40px;
    }
    h1 {
      color: #322724;
    }
    p {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <h1>О приложении</h1>
  <p><strong>Планировщик маршрутов</strong> — это веб-приложение, предназначенное для удобного составления туристических маршрутов.</p>
  <p>Функции приложения:</p>
  <ul>
    <li>Создание маршрутов с указанием точек на карте</li>
    <li>Просмотр готовых маршрутов</li>
    <li>Интерактивная карта с возможностью масштабирования</li>
    <li>Сохранение маршрутов для последующего использования</li>
  </ul>
  <p>Проект создан с использованием Python, Flask и библиотеки Leaflet.js.</p>
  <p>Автор: Волошинов Иван Владимирович </p>
</body>
</html>
